@import "~bootstrap/scss/bootstrap";

// Colors
$primary: #0074d9;
$secundary: #ff4136;
$background: #2d2d2d;

$theme-colors: (
  "primary": $primary,
  "secundary": $secundary,
  "background": $background,
);

body {
  background-color: $background;
  color: white;
}
